# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!liboqsDLL/bin/oqs.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!liboqsDLL/lib/oqs.lib

# Executables
*.exe
*.out
*.app

# vim
*.swp

# MSVC
.vs/
/out*
CMakeSettings.json

# CLion
.idea/
build/
cmake-build*/

# Documentation source files
doc/
